body {
  background-color: black; /* Fundo preto */
  color: white; /* Texto branco */
}

.container {
  border: 2px solid red; /* Bordas vermelhas */
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

/* Player Plyr */
.plyr {
  background-color: red; /* Fundo vermelho */
  color: black; /* Texto preto */
}
.plyr_captions {
  background-color: transparent;
}